
<% @posts.each do |post| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to post.title, post %><br>
        <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></small>
    </h2>
<div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= post.url %>">Visit Link</a>
      <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%= post.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Downvote
      <%= post.get_downvotes.size %>
       <% end %>
    </div>
   </div>
  <% end %>


<!-- <p id="notice"><%= notice %></p>

<h1>Prep Rumors</h1>
<h3>Your Underground Network for Prep Sports rumors, commits, and chatter</h3>
<table>
  <thead>
  <tr>
    <th>Title   </th>
    <th>Url  </th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
</thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <h5><td><%= post.title %></td></h5>
      <td><%= post.url %></td>
      <td><%= post.comment %></td>
      <td><%= link_to 'Show', post %></td>
<% if post.user == current_user %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
      <%end %>

  </tbody>
</table><br><br><br>
<%= link_to 'Signed In? Make a New Post', new_post_path %>
<br> -->
